{% extends 'InventoryBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
{{ parent() }}

<h1>Login</h1>

{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error.messageKey|trans(error.messageData, 'security') }}
</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="_username" class="form-control" value="{{ lastUsername }}" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="_password" placeholder="Password"/>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
